.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  text-align: center;
}

.alertMessage {
  position: fixed;
  left: 30%;
  top: 20%;
  z-index: 3;
  border: 2px solid black;
  width: 40%;
}

.alertHeader {
  padding: 20px;
  background-color: #3264a8; /* Red */
  color: white;
}

.message {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
}
