.theater{
    border-bottom: 2px solid silver;
    margin: 5px;
    width: 98%;
    padding: 4px;
}
.theaterName, .theaterTimings, .seletedMovieTime{
    display: inline-block;
}

.theaterName{
    width: 30%;
}

.theaterTimings{
    width: 60%;
}

.seletedMovieTime{

}